  <!-- Header -->
  <header id="head">
    <div class="container">
             <div class="heading-text">
              <h1 class="animated flipInY delay1">Nkhoma University</h1>
              <p>The beginning of wisdom is the fear of the Lord</p>
            </div>

          <div class="fluid_container">
                    <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                        <div data-thumb="assets/bootstrap/slides/thumbs/img5.png" data-src="assets/bootstrap/slides/img5.jpg">
                            <h2>We develop.</h2>
                        </div>
                        <div data-thumb="assets/bootstrap/slides/thumbs/img2.jpg" data-src="assets/bootstrap/slides/img6.jpg">
                        </div>
                        <div data-thumb="assets/bootstrap/slides/thumbs/img3.jpg" data-src="assets/bootstrap/slides/img5.jpg">
                        </div>
                    </div><!-- #camera_wrap_3 -->
                </div><!-- .fluid_container -->
    </div>
  </header>
  <!-- /Header -->

  <div class="container">
    <div class="row">
          <div class="col-md-3">
            <div class="grey-box-icon">
              <div class="icon-box-top grey-box-icon-pos">
                <img src="assets/bootstrap/1.png" alt="" />
              </div><!--icon box top -->
              <h4>JUSTIFICATION OF NKHOMA UNIVERSITY</h4>
              <p align="justify">Governments' policies in the region are aimed at ending illiteracy, poverty and creating wealth among the masses through increased education, promotion of entrepreneurship and creation of employment. </p>
                <p><a href="#"><em>Read More</em></a></p>
            </div><!--grey box -->
          </div><!--/span3-->
          <div class="col-md-3">
            <div class="grey-box-icon">
              <div class="icon-box-top grey-box-icon-pos">
                <img src="assets/bootstrap/2.png" alt="" />
              </div><!--icon box top -->
              <h4>MANDATE OF THE UNIVERSITY</h4>
              <p align="justify">The mandate of Nkhoma University is to contribute to the realization of sustainable economic and social development by enhancing tertiary education through the integration of Christian values in development programmes. </p>
                <p><a href="#"><em>Read More</em></a></p>
            </div><!--grey box -->
          </div><!--/span3-->
          <div class="col-md-3">
            <div class="grey-box-icon">
              <div class="icon-box-top grey-box-icon-pos">
                <img src="assets/bootstrap/3.png" alt="" />
              </div><!--icon box top -->
              <h4>OBJECTS OF THE UNIVERSITY</h4>
              <p align="justify">1 increase student enrolment at university level 2 create knowledge that is consistent with theological, social and technological trends;3 distil and select knowledge that is necessary for upgrading skills for spiritual health and physical development of Christians, communities and the nation;</p>
                <p><a href="#"><em>Read More</em></a></p>
            </div><!--grey box -->
          </div><!--/span3-->
          <div class="col-md-3">
            <div class="grey-box-icon">
              <div class="icon-box-top grey-box-icon-pos">
                <img src="assets/bootstrap/4.png" alt="" />
              </div><!--icon box top -->
              <h4>FACULTIES AND PROGRAMMES</h4>
              <p align="justify">1 Faculty of Commerce 2 Faculty of Education 3 Faculty of Nursing 4 Faculty of Theology</p>
                <p><a href="#"><em>Read More →</em></a></p>
            </div><!--grey box -->
          </div><!--/span3-->
        </div>
    </div>
      <section class="news-box top-margin">
        <div class="container">
            <h2><span>New Courses</span></h2>
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><img src="assets/bootstrap/news2.jpg" alt=""></figure>
                            <div class="caption maxheight2">
                            <div class="box_inner">
                                        <div class="box">
                                            <p class="title"><h5>Developer</h5></p>
                                            <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><img src="assets/bootstrap/news3.jpg" alt=""></figure>
                            <div class="caption maxheight2">
                            <div class="box_inner">
                                        <div class="box">
                                            <p class="title"><h5>Photography   </h5></p>
                                            <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><img src="assets/bootstrap/news4.jpg" alt=""></figure>
                            <div class="caption maxheight2">
                           <div class="box_inner">
                                        <div class="box">
                                            <p class="title"><h5>Audio Editing</h5></p>
                                            <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



      <section class="container">
      <div class="row">
        <div class="col-md-8"><div class="title-box clearfix "><h2 class="title-box_primary">About Us</h2></div>
        <p><span>Perspiciatis unde omnis iste natus error sit voluptatem. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus musull dui.</span></p>
        <p>Lorem ipsumulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Null dui. Fusce feugiat malesuada odio.</p><p>Lorem ipsumulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Null dui. Fusce feugiat malesuada odio.</p>
        <a href="#" title="read more" class="btn-inline " target="_self">read more</a> </div>


          <div class="col-md-4"><div class="title-box clearfix "><h2 class="title-box_primary">Up Coming Courses</h2></div>
            <div class="list styled custom-list">
            <ul>
            <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">Mathematics and Computer Science</a></li>
            <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Mathematics and Philosophy</a></li>
            <li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." href="#">Philosophy and Modern Languages</a></li>
            <li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci." href="#">History (Ancient and Modern)</a></li>
            <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">Classical Archaeology and Ancient History</a></li>
            <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Physics and Philosophy</a></li>
            </ul>
            </div>
         </div>
      </div>
      </section>


    <footer id="footer">

    <div class="container">
   <div class="row">
  <div class="footerbottom">
    <div class="col-md-3 col-sm-6">
      <div class="footerwidget">
        <h4>
          Course Categories
        </h4>
        <div class="menu-course">
          <ul class="menu">
            <li><a href="#">
                List of Technology
              </a>
            </li>
            <li><a href="#">
                List of Business
              </a>
            </li>
            <li><a href="#">
                List of Photography
              </a>
            </li>
            <li><a href="#">
               List of Language
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="footerwidget">
        <h4>
          Products Categories
        </h4>
        <div class="menu-course">
          <ul class="menu">
            <li> <a href="#">
                Individual Plans  </a>
            </li>
            <li><a href="#">
                Business Plans
              </a>
            </li>
            <li><a href="#">
                Free Trial
              </a>
            </li>
            <li><a href="#">
                Academic
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="footerwidget">
        <h4>
          Browse by Categories
        </h4>
        <div class="menu-course">
          <ul class="menu">
            <li><a href="#">
                All Courses
              </a>
            </li>
            <li> <a href="#">
                All Instructors
              </a>
            </li>
            <li><a href="#">
                All Members
              </a>
            </li>
            <li>
              <a href="#">
                All Groups
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
              <div class="footerwidget">
                         <h4>Contact</h4>
                        <p>Lorem reksi this dummy text unde omnis iste natus error sit volupum</p>
            <div class="contact-info">
            <i class="fa fa-map-marker"></i> Kerniles 416  - United Kingdom<br>
            <i class="fa fa-phone"></i>+00 123 156 711 <br>
             <i class="fa fa-envelope-o"></i> youremail@email.com
              </div>
                </div><!-- end widget -->
    </div>
  </div>
</div>
      <div class="social text-center">
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-flickr"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
      </div>

      <div class="clear"></div>
      <!--CLEAR FLOATS-->
    </div>
    <div class="footer2">
      <div class="container">
        <div class="row">

          <div class="col-md-6 panel">
            <div class="panel-body">
              <p class="simplenav">
                <a href="index.html">Home</a> |
                <a href="about.html">About</a> |
                <a href="courses.html">Courses</a> |
                <a href="price.html">Price</a> |
                <a href="videos.html">Videos</a> |
                <a href="contact.html">Contact</a>
              </p>
            </div>
          </div>

          <div class="col-md-6 panel">
            <div class="panel-body">
              
            </div>
          </div>

        </div>
        <!-- /row of panels -->
      </div>
    </div>
  </footer>

  <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
  
    <script>
    jQuery(function(){

      jQuery('#camera_wrap_4').camera({
                transPeriod: 500,
                time: 3000,
        height: '600',
        loader: 'false',
        pagination: true,
        thumbnails: false,
        hover: false,
                playPause: false,
                navigation: false,
        opacityOnGrid: false,
        imagePath: 'assets/bootstrap/'
      });

    });

  </script>
